/* 
--vscode-button-background
--vscode-button-hoverBackground
--vscode-button-border
--vscode-button-secondaryForeground
--vscode-button-secondaryBackground
--vscode-button-secondaryHoverBackground

*/

button {
  background-color: var(--vscode-button-background);
  color: var(--vscode-button-secondaryForeground);
  border: 1px solid var(--vscode-button-border);
  &:hover {
    background-color: var(--vscode-button-hoverBackground);
  }
  padding: 0.3rem 1rem;
  border-radius: 0.3rem;
}
